@media (max-width: 780px) {
  #Audio_player {
    width: 100%;
    height: 40px;
  }
}
@media (min-width: 780px) {
  #Audio_player {
    width: 50%;
  }
}

@media (max-width: 992px) {
  #QnA_head {
    width: 200px;
  }
}

@media (min-width: 992px) {
  #QnA_head {
    width: 300px;
  }
}
