.header-container {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    /* Equivalent to pt-4 in Bootstrap */
    /*  
  }
  
  .app-header {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
  }
  